WHATSAPP_API_BASE_URL=https://sistema-whatsapp-api.5mos1l.easypanel.host
WHATSAPP_INSTANCE_TOKEN=coloque_o_token_da_instancia_aqui
PUBLIC_BASE_URL=http://localhost:8000
FLOW_FILE=flows/flows.json
DATABASE_PATH=bot.db
REQUEST_TIMEOUT_SECONDS=30
